{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "airbnb", "prettier"],
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true
      }
    ],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "consistent-return": "off",
    "global-require": "off",
    "no-console": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "react/prefer-stateless-function": "off",
    "react/forbid-prop-types": "off",
    "react/destructuring-assignment": "off",
    "jsx-a11y/anchor-is-valid": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.development.js"
      }
    }
  },
  "plugins": ["react", "babel", "prettier"]
}
